@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.title {
    margin-top: 40px;
    text-align: center;
    font-family: 'Gugi', cursive;
    color: #002593;
}

.scroll-container {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.scroll-content {
    display: flex;
    width: 600%;
    margin-left: 6.5%;
}

.scroll-content img {
    width: 370px;
    height: 537px;
}

.characterName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    margin-left: 40%;
}

.img-container {
    position: relative;
    display: inline-block;
    margin-left: 0.4%;
    font-family: 'Gugi', cursive;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px black;
}

/* .characterName { */
    /* position: absolute; */
    /* color: rgb(0, 0, 0); */
    /* display: flex; */
    /* flex-direction: column; */
    /* font-size: 2rem; */
    /* font-family: 'Gugi', cursive; */
/* } */

@media screen and (max-width: 830px) {
    .scroll-content img {
        width: 370px;
        height: 537px;
        margin-left: 2.5%;
    }

    .scroll-container {
        overflow-x: scroll;
    }

    .title {
        margin-top: 15%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 540px) {
    .scroll-content img {
        width: 270px;
        height: 450px;
        margin-left: 5%;
    }

    .scroll-container {
        overflow-x: scroll;
    }

    .title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.3rem;
    }

    .characterName{
        font-size: 1.5rem;
        margin-left: 42%;
    }
}