.logo {
    margin: auto;
    display: block;
    margin-top: 50px;
}

.divContainer {
    margin-top: 20px;
}

/* Section */
.imgSection {
    /* background-color: #8CC7EE; */
    width: 25%;
    height: 500px;
    float: left;
    margin-left: 15%;
}

.informationSection {
    /* background-color: #8CC7EE; */
    width: 43%;
    height: 490px;
    float: right;
    margin-right: 15%;
    /* border: 5px solid #6197F7; */
}

/* Section안의 내용 */
.mainPost {
    /* margin-top: 5%;
    margin-left: 5%; */
    width: 100%;

}

.explanation {
    font-size: 1.3rem;
    margin-left: 3%;
    margin-top: 5%;
}

.tagContainer {
    margin-left: 3%;
    margin-top: 2%;
    width: 100%;
}

.tag {
    font-size: 1rem;
    margin-bottom: 7px;
    color: white;
    background-color: #4465C5;
    border: 1px solid black;
    border-radius: 3px;
}

.summary {
    width: 40%;
    /* background-color: rgb(55, 125, 186); */
    margin-left: 43%;
    margin-top: 160px;
    position: absolute;
}

@media screen and (max-width: 830px) {
    .logo {
        margin: auto;
        display: block;
        margin-top: 130px;
        width: 40%;
    }

    .imgSection {
        width: 35%;
        margin-left: 10%;
    }
    
    .informationSection {
        width: 37%;
        height: 368px;
        margin-right: 15%;
        /* border: 3.5px solid #6197F7; */
    }

    .explanation {
        font-size: 1rem;
    }
    
    .tagContainer {
        margin-top: 5%;
        width: 120%;
    }
    
    .tag {
        font-size: 0.8rem;
        margin-bottom: 6px;
    }
    
    .summary{
        margin-left: 50%;
    }
    
}

@media screen and (max-width: 540px) {
    .logo {
        margin: auto;
        display: block;
        margin-top: 50px;
        width: 40%;
    }

    .summary{
        margin-top: 250px;
        margin-left: 10%;
        width: 80%;
    }

    .explanation {
        font-size: 0.9rem;
    }

    .tag {
        font-size: 0.65rem;
        margin-bottom: 4px;
    }
    
}